@font-face {
  font-family: "LINESeedKR-Rg";
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.eot");
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #ededed;
  overflow: hidden; /* 모든 브라우저에 대한 스크롤바 비활성화 */
  scrollbar-width: none; /* Firefox 브라우저에 대한 스크롤바 비활성화 */
}

::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Webkit 엔진 (Chrome, Safari 등) 브라우저에 대한 스크롤바 비활성화 */
  display: none;
}

.App {
  text-align: center;
  background-color: #ededed;
  height: 100%;
}

.Top {
  background-color: #ededed;
  height: 100px;
}

.Main-Text {
  font-family: "LINESeedKR-Bd";
  font-size: 50px;
  color: #2d3135;
  margin-top: 30%;
  text-shadow: 0px 0px 10px #b4b4b4;
}

.Sub-Text {
  font-family: "LINESeedKR-Rg";
  font-size: 18px;
  color: #2d3135;
  margin-top: 40px;
  white-space: pre-line;
  opacity: 60%;
}

.More-Btn {
  background-color: #2d3135;
  height: 50px;
  width: 160px;
  border-radius: 25px;
  color: #ededed;
  font-family: "LINESeedKR-Bd";
  font-size: 100%;
  margin-top: 40px;
  box-shadow: 0px 0px 10px #b4b4b4;
  padding: 1em;
  border: 0;
  cursor: pointer;
  padding-top: 14px;
}

.Logo {
  height: 22px;
  margin-top: 39px;
  margin-bottom: 39px;
}
