@font-face {
  font-family: "LINESeedKR-Rg";
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.eot");
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #ededed;
  overflow: hidden; /* 모든 브라우저에 대한 스크롤바 비활성화 */
  scrollbar-width: none; /* Firefox 브라우저에 대한 스크롤바 비활성화 */
}

::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Webkit 엔진 (Chrome, Safari 등) 브라우저에 대한 스크롤바 비활성화 */
  display: none;
}

.App {
  text-align: center;
  background-color: #ededed;
  height: 100%;
}

.Top {
  background-color: #ededed;
  height: 100px;
}

.Logo {
  height: 22px;
  margin-top: 39px;
  margin-bottom: 39px;
}
