img {
  max-width: 100%;
  height: auto;
}

.Portfolio {
  display: flex;
  flex-wrap: warp;
  height: 80vh;
  align-items: center;
}

.Image-Box1 {
  margin: 2vh;
}

.Box {
  display: flex;
  margin: 10vh;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width: 750px) {
  .Box {
    flex-direction: column;
  }
}

@font-face {
  font-family: "LINESeedKR-Rg";
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.eot");
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.Title {
  font-family: "LINESeedKR-Bd";
  font-size: 2vh;
  color: #2d3135;
  text-shadow: 0px 0px 10px #b4b4b4;
  white-space: pre-line;
  margin-top: 2vh;
  max-height: 100%;
  text-align: left;
  margin-left: 0.2vh;
}

.subTitle {
  font-family: "LINESeedKR-Rg";
  font-size: 1.5vh;
  color: #2d3135;
  margin-top: 0.5vh;
  white-space: pre-line;
  opacity: 60%;
  max-height: 100%;
  text-align: left;
  margin-left: 0.2vh;
}
