/* src/components/ScrollPage.css */

.scroll-page {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0; /* 바깥 여백 제거 */
  padding: 0; /* 내부 여백 제거 */
}

.sectionFooter {
  height: 30vh;
  margin: 0; /* 바깥 여백 제거 */
  padding: 0; /* 내부 여백 제거 */
  justify-content: left;
  text-align: left;
  margin-bottom: 10vh;
}

@font-face {
  font-family: "LINESeedKR-Rg";
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.eot");
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  flex-direction: column;
  overflow: hidden; /*스크롤바 비활성화*/
  scrollbar-width: none; /* Firefox 브라우저에 대한 스크롤바 비활성화*/
}

body::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Chrome, Safari 등의 브라우저에 대한 스크롤바 비활성화*/
}

.Top {
  background-color: #ededed;
  height: 100px;
  display: flex;
  flex: 1;
  position: sticky;
}

.Logo {
  height: 22px;
  margin-top: 39px;
  margin-bottom: 39px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
